/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


::-webkit-scrollbar {
  display: none;
}

:root {
  --main-green: lightGreen;
  --main-grey: #B0B1B0;
}

.toggleDisplay {
  display: none;
}

.wrapperMooncake {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  z-index: 1000;
}

.wrapperMooncake * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mooncakeComments {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 400px;
  height: 500px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: -1px 0px 30px 0px rgba(50,50,50,0.2);
  -moz-box-shadow: -1px 0px 30px 0px rgba(50,50,50,0.2);
  box-shadow: -1px 0px 30px 0px rgba(50,50,50,0.2);
}

.topBar {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topBar__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-align: center;
  color: grey;
  margin-top: 10px;
}

.topBar__title .image {
  width: 20px;
  height: 20px;
  margin-right:10px;
}

.topBar__title .title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1.2;
  font-size: 14px !important;
  max-width: 250px;
  color: var(--main-grey) !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.imageNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageNameContainer__img {
  width: 50px;
  height: 50px;
  background: black;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

/* .imageNameContainer__img img{
  width: 50px;
  height: 50px;
} */

.imageNameContainer__name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--main-green);
  font-size: 14px;
}

.imageNameContainer__time {
  font-size: 12px;
  color: var(--main-grey);
  font-family: 'Roboto', sans-serif;
}

.commentsContainer {
  width: 100%;
  padding:0px 20px;
  height: 380px;
  overflow: auto;
  overflow-y: scroll;
}
.comment {
  margin-top: 20px;
  color: var(--main-grey);
  width: 100%;
}
.comment__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.comment__content {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.5;
}


.comment__reactionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.reactioins {
  max-width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reactioin {
  min-width: 60px;
  padding: 0px 5px;
  font-size: 14px;
  border: 1px solid var(--main-grey);
  border-radius: 30px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}

.reactioin:hover {
  background: var(--main-green);
  opacity: 0.8;
  color: white;
}

.addReaction {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--main-green);
  color: var(--main-green);
  text-align: center;
  font-size: 11px !important;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Roboto', sans-serif !important;
}

.addReaction:hover {
  background: var(--main-green);
  color: white;
}

.reactioin span {
  margin-right: 5px;
}

.insertTextcontainer {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid trasparent;
  border-radius: 20px;
  -webkit-box-shadow: -1px 0px 30px 0px rgba(50,50,50,0.2);
  -moz-box-shadow: -1px 0px 30px 0px rgba(50,50,50,0.2);
  box-shadow: -1px 0px 30px 0px rgba(50,50,50,0.2);
}

.insertTextcontainer__input {
  width: 70%;
  height: 150px !important;
  font-size: 14px !important;
  border-top-left-radius:20px !important;
  border-bottom-left-radius:20px !important;
  border: 1px solid white !important;;
  font-family: 'Roboto', sans-serif !important;
  color: var(--main-grey) !important;
  padding: 20px !important;
  resize: none;
}

.insertTextcontainer__input:focus{
    outline: none;
}

.insertTextcontainer__sendBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 150px;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  border: 1px solid trasparent;
  background: var(--main-green);
  cursor: pointer;
}

.insertTextcontainer__sendBtn:hover {
  background: #98FB78;
  /* border: 2px solid #98FB98; */
  /* opacity: 0.9; */
}
